language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

sudo: required

before_script:
  - chmod +x install_ext.sh
  - ./install_ext.sh
  - composer install
  - cd tests

script: phpunit -v
